name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Buildozer Action
        uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          buildozer_version: master
          command: android debug
          repository_root: .

      - name: Enviar APK
        uses: actions/upload-artifact@v4
        with:
          name: sistema-final
          path: bin/*.apk
          
